*{
    margin:0;
    padding:0;
}

.navbar{
padding:7px;
    display: flex;
    background:linear-gradient(to right,blue,green);
    height: 50px;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
    z-index: 2;
}

.navbar ul{
    display: flex;
    gap:40px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration:none;
    color:white;
    font-size: 1.5rem;
}


.logo{
    font-weight:bold;
    color:white;
    font-size: 20px;
}




@media only screen and (max-width:532px){
    .navbar{
        flex-direction: column;
            width: 100vw;;
    }

    .navbar ul{
        gap: 12px;
    }
}