* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (max-width:532px) {

    .maindiv {
        text-align: center;
    }

.fixe{
position: sticky;
    top: 30px;
    z-index: 1000;

}

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 97vw;
        height: 209px;
        box-shadow: 20px 17px 20px 4px rgb(1 194 255 / 20%);
        border: 2px solid black;
        flex-direction: column;
        gap: 35px;
        background: linear-gradient(219deg, #2196F3, #08828f00);
        overflow: hidden;

    }

    .firstdiv{
        animation: firstheader 1s ease-in both ;
        transition: all 1s ease-in-out;
    }

    @keyframes firstheader {
        
        from{
            transform: rotate(4deg);
        }

        to{
            transform: rotate(12deg);
        }
    }


    form input {
        padding: 20px;
        text-align: center;
        font-size: 20px;
        border-radius: 25px;
    }
    
    .btn {
        padding: 13px;
        background: #4343d3;
        color: white;
        font-weight: bold;
        font-size: large;
        border-radius: 15px;
        transition: 0.3s;
        cursor: pointer;
    }

    .btn:hover{
    transform: scale(1.05);
    background: #2d2db3;
}

    .infodiv {
        padding: 10px;
        margin: 14px;
        text-align: center;
        background-color: #2196F3;
        border: 2px solid #2784ab;
        color: bisque;
        font-size: 1.5rem;
        transition: all 1s ease-in-out;
    }

    .info {

        border: 2px solid #010c01;
        padding: 18px;
        margin: 11px;

    }

    .fromdiv {
        padding: 5px;
    }

    .infodiv{

        animation: raaz 0.6s ease-in;

    }

    @keyframes raaz {
        from{
            
            transform: translateY(10px);
            opacity: 0;

        }

        to{

            opacity: 1;
           transform: translateY(0);

        }
    }

    .info{
        animation: raaz 1s ease-in;
    }


    .maindiv{
        font-size:15px;
        padding: 15px;
        background-color: #2196F3;
        height: 80px;
        color:white;

    }

    .loadingstate{
        animation: raaz 1s ease-in-out both;
    }

}