*{
    margin:0;
    padding:0,
}


@media only screen and (max-width:532px){

.maindiv{
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 37vh;
    border: 2px solid black;
    flex-direction: column;
    gap: 35px;
    background: linear-gradient(219deg, #2196F3, #08828f00)
}

form input{
    padding: 30px;
    text-align: center;
    font-size: 20px;
}

.btn{
    padding: 13px;
    background: #4343d3;
    color: white;
    font-weight: bold;
    font-size: large;
}

.infodiv{
    padding: 10px;
    text-align: center;
    background-color: #2196F3;
    border: 2px solid red;
    color: bisque;
    font-size: 1.5rem;
}

.info{
    border: 2px solid #59ff59;
    padding: 18px;
    margin: 11px;

}

}